<div class="container" ng-controller="categoryController">
    <h1>Danh sách Danh mục</h1>
    <div class="table">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id danh mục</th>
                    <th scope="col">Tên danh mục</th>
                    <th scope="col">Chức năng</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in categoryList">
                    <th scope="row">{{ $index+1 }}</th>
                    <td>{{ item.categoryName }} </td>
                    <td>
                        <a href="#!/editCategory/{{ item.id }}"><button
                                class="bg-warning rounded border-0">sửa</button></a>
                        <a ng-click="removeItem( item.id )" href=""><button
                                class="bg-danger rounded border-0">xóa</button></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>